<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
</head>
<body>
    <div class="form-group">
        Id :<input type="number" class="form-control" ng-model="id" ng-required="true"><br>
        Name : <input type="text" class="form-control" ng-model="name" ng-required="true"><br>
        Number : <input type="number" class="form-control" ng-model="number" ng-required="true"><br>
        Email : <input type="email" class="form-control" ng-model="email" ng-required="true"><br>
    </div>        
    <input type="button" class="btn btn-primary" value="Add" ng-click="redirect()">

</body>
</html>