<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div class="form-group">
        User Name : <input type="text" class="form-control" ng-model="userName" ng-required="true">
        PassWord : <input type="password" class="form-control" ng-model="password" ng-required="true"><br>
        <button value="Login" class="btn btn-primary" ng-click="authentication()">Login</button>
    </div>
    
</body>
</html>